/*
	EDITOR
  This will be loaded into the CMS
*/
/* LAYOUT */
/* BREAK POINTS */
/*
	VARIABLES
*/
/* FONTS */
/* vender/werkbot/_framewerk_variables.scss - overide these if necessary */
/*$fw-desktop-breakpoints: (
  desktop : 1024px
);*/
/*$fw-responsive-breakpoints: (
  tablet: 1024px,
  phone : 600px
);*/
/* COLORS */
/*
	WEB FONTS
	Declare all webfonts here.
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
/*
  VERTICAL ALIGN
  requires the parent container to have a set height
*/
/*
  HORIZONTAL ALIGN
*/
/*
  HORIZONTAL VERICAL ALIGN
*/
/*
  FONT SIZE
*/
/*
	TYPOGRAPHY
	Define all basic html tags. These can be overridden in but this should be the base.
*/
/* line 5, ../../sass/global/_typography.scss */
body {
  font: 400 1rem/1rem "Roboto", sans-serif;
}

/* H1 */
/* line 14, ../../sass/global/_typography.scss */
h1 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 14, ../../sass/global/_typography.scss */
  h1 {
    font-size: 2.4em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 14, ../../sass/global/_typography.scss */
  h1 {
    font-size: 2.2em;
    line-height: 1;
  }
}

/* H2 */
/* line 26, ../../sass/global/_typography.scss */
h2 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 26, ../../sass/global/_typography.scss */
  h2 {
    font-size: 2.2em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 26, ../../sass/global/_typography.scss */
  h2 {
    font-size: 2em;
    line-height: 1;
  }
}

/* H3 */
/* line 38, ../../sass/global/_typography.scss */
h3 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 38, ../../sass/global/_typography.scss */
  h3 {
    font-size: 2em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 38, ../../sass/global/_typography.scss */
  h3 {
    font-size: 1.8em;
    line-height: 1;
  }
}

/* H4 */
/* line 50, ../../sass/global/_typography.scss */
h4 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 50, ../../sass/global/_typography.scss */
  h4 {
    font-size: 1.8em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 50, ../../sass/global/_typography.scss */
  h4 {
    font-size: 1.6em;
    line-height: 1;
  }
}

/* H5 */
/* line 61, ../../sass/global/_typography.scss */
h5 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 61, ../../sass/global/_typography.scss */
  h5 {
    font-size: 1.6em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 61, ../../sass/global/_typography.scss */
  h5 {
    font-size: 1.4em;
    line-height: 1;
  }
}

/* H6 */
/* line 72, ../../sass/global/_typography.scss */
h6 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 72, ../../sass/global/_typography.scss */
  h6 {
    font-size: 1.4em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 72, ../../sass/global/_typography.scss */
  h6 {
    font-size: 1.2em;
    line-height: 1;
  }
}

/* P */
/* line 83, ../../sass/global/_typography.scss */
p {
  color: #454546;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.4;
}
@media screen and (max-width: 1024px) {
  /* line 83, ../../sass/global/_typography.scss */
  p {
    font-size: 1em;
    line-height: 1.4;
  }
}
@media screen and (max-width: 600px) {
  /* line 83, ../../sass/global/_typography.scss */
  p {
    font-size: 1em;
    line-height: 1.4;
  }
}

/* UL, OL */
/* line 89, ../../sass/global/_typography.scss */
ul, ol {
  color: #454546;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.4;
}
@media screen and (max-width: 1024px) {
  /* line 89, ../../sass/global/_typography.scss */
  ul, ol {
    font-size: 1em;
    line-height: 1.4;
  }
}
@media screen and (max-width: 600px) {
  /* line 89, ../../sass/global/_typography.scss */
  ul, ol {
    font-size: 1em;
    line-height: 1.4;
  }
}

/* line 94, ../../sass/global/_typography.scss */
ul {
  list-style: disc outside;
}

/* line 97, ../../sass/global/_typography.scss */
ol {
  list-style: decimal outside;
}

/**/
/* line 101, ../../sass/global/_typography.scss */
strong, b {
  font-weight: 700;
}

/* line 104, ../../sass/global/_typography.scss */
em, i {
  font-style: italic;
}

/* COMPONENTS */
/*
  BUTTON
  Generic button class can be used as a class on an element or as a mixin in scss.
*/
/* line 25, ../../sass/components/_button.scss */
a.button {
  background-color: #2b5b76;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 16px 28px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
/* line 21, ../../sass/components/_button.scss */
a.button:hover {
  background-color: #4a94bd;
}
/* line 27, ../../sass/components/_button.scss */
a.button:link, a.button:visited, a.button:hover, a.button:active {
  color: #ffffff;
}

/*
  Image
  Generic image classes
  These classes are set from silverstripe html editor
*/
/* line 7, ../../sass/components/_image.scss */
img.left {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
/* line 12, ../../sass/components/_image.scss */
img.right {
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}
/* line 17, ../../sass/components/_image.scss */
img.center {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
/* line 23, ../../sass/components/_image.scss */
img.leftAlone {
  display: block;
  text-align: left;
  padding: 20px;
}

/*
  Link
  Default link styles
*/
/* line 5, ../../sass/components/_link.scss */
a {
  color: #2b5b76;
  text-decoration: underline;
}
/* line 8, ../../sass/components/_link.scss */
a:link {
  color: #2b5b76;
}
/* line 11, ../../sass/components/_link.scss */
a:visited {
  color: #5d9fc4;
}
/* line 14, ../../sass/components/_link.scss */
a:hover {
  text-decoration: none;
}
/* line 17, ../../sass/components/_link.scss */
a:active {
  color: #091319;
}
