/*
	SITE - Not Responsive
  This should mirror the site.responsive.scss minus any responsive specific code
*/
/* LAYOUT */
/* BREAK POINTS */
/*
	VARIABLES
*/
/* FONTS */
/* vender/werkbot/_framewerk_variables.scss - overide these if necessary */
/*$fw-desktop-breakpoints: (
  desktop : 1024px
);*/
/*$fw-responsive-breakpoints: (
  tablet: 1024px,
  phone : 600px
);*/
/* COLORS */
/*
	WEB FONTS
	Declare all webfonts here.
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
/*
  VERTICAL ALIGN
  requires the parent container to have a set height
*/
/*
  HORIZONTAL ALIGN
*/
/*
  HORIZONTAL VERICAL ALIGN
*/
/*
  FONT SIZE
*/
/* line 1, ../../vendor/werkbot/framewerk/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../../vendor/werkbot/framewerk/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../../vendor/werkbot/framewerk/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../../vendor/werkbot/framewerk/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../../vendor/werkbot/framewerk/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../../vendor/werkbot/framewerk/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../../vendor/werkbot/framewerk/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	TYPOGRAPHY
	Define all basic html tags. These can be overridden in but this should be the base.
*/
/* line 5, ../../sass/global/_typography.scss */
body {
  font: 400 1rem/1rem "Roboto", sans-serif;
}

/* H1 */
/* line 14, ../../sass/global/_typography.scss */
h1 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 14, ../../sass/global/_typography.scss */
  h1 {
    font-size: 2.4em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 14, ../../sass/global/_typography.scss */
  h1 {
    font-size: 2.2em;
    line-height: 1;
  }
}

/* H2 */
/* line 26, ../../sass/global/_typography.scss */
h2 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 26, ../../sass/global/_typography.scss */
  h2 {
    font-size: 2.2em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 26, ../../sass/global/_typography.scss */
  h2 {
    font-size: 2em;
    line-height: 1;
  }
}

/* H3 */
/* line 38, ../../sass/global/_typography.scss */
h3 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 38, ../../sass/global/_typography.scss */
  h3 {
    font-size: 2em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 38, ../../sass/global/_typography.scss */
  h3 {
    font-size: 1.8em;
    line-height: 1;
  }
}

/* H4 */
/* line 50, ../../sass/global/_typography.scss */
h4 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 50, ../../sass/global/_typography.scss */
  h4 {
    font-size: 1.8em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 50, ../../sass/global/_typography.scss */
  h4 {
    font-size: 1.6em;
    line-height: 1;
  }
}

/* H5 */
/* line 61, ../../sass/global/_typography.scss */
h5 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 61, ../../sass/global/_typography.scss */
  h5 {
    font-size: 1.6em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 61, ../../sass/global/_typography.scss */
  h5 {
    font-size: 1.4em;
    line-height: 1;
  }
}

/* H6 */
/* line 72, ../../sass/global/_typography.scss */
h6 {
  color: #2b5b76;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  /* line 72, ../../sass/global/_typography.scss */
  h6 {
    font-size: 1.4em;
    line-height: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 72, ../../sass/global/_typography.scss */
  h6 {
    font-size: 1.2em;
    line-height: 1;
  }
}

/* P */
/* line 83, ../../sass/global/_typography.scss */
p {
  color: #454546;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.4;
}
@media screen and (max-width: 1024px) {
  /* line 83, ../../sass/global/_typography.scss */
  p {
    font-size: 1em;
    line-height: 1.4;
  }
}
@media screen and (max-width: 600px) {
  /* line 83, ../../sass/global/_typography.scss */
  p {
    font-size: 1em;
    line-height: 1.4;
  }
}

/* UL, OL */
/* line 89, ../../sass/global/_typography.scss */
ul, ol {
  color: #454546;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.4;
}
@media screen and (max-width: 1024px) {
  /* line 89, ../../sass/global/_typography.scss */
  ul, ol {
    font-size: 1em;
    line-height: 1.4;
  }
}
@media screen and (max-width: 600px) {
  /* line 89, ../../sass/global/_typography.scss */
  ul, ol {
    font-size: 1em;
    line-height: 1.4;
  }
}

/* line 94, ../../sass/global/_typography.scss */
ul {
  list-style: disc outside;
}

/* line 97, ../../sass/global/_typography.scss */
ol {
  list-style: decimal outside;
}

/**/
/* line 101, ../../sass/global/_typography.scss */
strong, b {
  font-weight: 700;
}

/* line 104, ../../sass/global/_typography.scss */
em, i {
  font-style: italic;
}

/*
  FLEX BOX
  Flex Container - all flex items should be wrapped with .flex-container
*/
/* line 5, ../../vendor/werkbot/framewerk/_framewerk.scss */
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

/* line 14, ../../vendor/werkbot/framewerk/_framewerk.scss */
.flex-item {
  /* DEPRECIATED - Never used, should be handled by a custom class */
  align-self: flex-start;
}

/* line 17, ../../vendor/werkbot/framewerk/_framewerk.scss */
.flex-image {
  width: 100%;
  height: auto;
}

/* line 21, ../../vendor/werkbot/framewerk/_framewerk.scss */
.flex-half {
  /* DEPRECIATED - replaced with breakpoint specific */
  width: 0.5%;
  min-height: 1px;
}

/* line 25, ../../vendor/werkbot/framewerk/_framewerk.scss */
.flex-iframe {
  width: 100%;
}
/* line 27, ../../vendor/werkbot/framewerk/_framewerk.scss */
.flex-iframe iframe {
  width: 100%;
}

/*
  SPACING
  $spacing variable is defined in _framewerk_variables.scss
*/
/* line 36, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space {
  padding: 20px;
}
/* line 38, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.double {
  padding: 40px;
}
/* line 41, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.one-forth {
  padding: 5px;
}
/* line 44, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.half {
  padding: 10px;
}
/* line 47, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.three-forths {
  padding: 15px;
}
/* line 50, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.noleft {
  padding-left: 0;
}
/* line 53, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.noright {
  padding-right: 0;
}
/* line 56, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.halfleft {
  padding-left: 10px;
}
/* line 59, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.halfright {
  padding-right: 10px;
}
/* line 62, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.notop {
  padding-top: 0;
}
/* line 65, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.nobottom {
  padding-bottom: 0;
}
/* line 68, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.halftop {
  padding-top: 10px;
}
/* line 71, ../../vendor/werkbot/framewerk/_framewerk.scss */
.space.halfbottom {
  padding-bottom: 10px;
}

/*
  DEFAULT DESKTOP
  If no breakpoints are defined, these will be the fallback width percentages
*/
/* line 79, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-half {
  width: 0.5%;
  min-height: 1px;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-1 {
  width: 1%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-2 {
  width: 2%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-3 {
  width: 3%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-4 {
  width: 4%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-5 {
  width: 5%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-6 {
  width: 6%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-7 {
  width: 7%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-8 {
  width: 8%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-9 {
  width: 9%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-10 {
  width: 10%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-11 {
  width: 11%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-12 {
  width: 12%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-13 {
  width: 13%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-14 {
  width: 14%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-15 {
  width: 15%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-16 {
  width: 16%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-17 {
  width: 17%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-18 {
  width: 18%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-19 {
  width: 19%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-20 {
  width: 20%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-21 {
  width: 21%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-22 {
  width: 22%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-23 {
  width: 23%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-24 {
  width: 24%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-25 {
  width: 25%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-26 {
  width: 26%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-27 {
  width: 27%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-28 {
  width: 28%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-29 {
  width: 29%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-30 {
  width: 30%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-31 {
  width: 31%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-32 {
  width: 32%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-33 {
  width: 33%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-34 {
  width: 34%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-35 {
  width: 35%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-36 {
  width: 36%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-37 {
  width: 37%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-38 {
  width: 38%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-39 {
  width: 39%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-40 {
  width: 40%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-41 {
  width: 41%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-42 {
  width: 42%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-43 {
  width: 43%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-44 {
  width: 44%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-45 {
  width: 45%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-46 {
  width: 46%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-47 {
  width: 47%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-48 {
  width: 48%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-49 {
  width: 49%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-50 {
  width: 50%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-51 {
  width: 51%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-52 {
  width: 52%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-53 {
  width: 53%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-54 {
  width: 54%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-55 {
  width: 55%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-56 {
  width: 56%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-57 {
  width: 57%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-58 {
  width: 58%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-59 {
  width: 59%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-60 {
  width: 60%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-61 {
  width: 61%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-62 {
  width: 62%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-63 {
  width: 63%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-64 {
  width: 64%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-65 {
  width: 65%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-66 {
  width: 66%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-67 {
  width: 67%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-68 {
  width: 68%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-69 {
  width: 69%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-70 {
  width: 70%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-71 {
  width: 71%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-72 {
  width: 72%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-73 {
  width: 73%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-74 {
  width: 74%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-75 {
  width: 75%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-76 {
  width: 76%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-77 {
  width: 77%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-78 {
  width: 78%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-79 {
  width: 79%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-80 {
  width: 80%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-81 {
  width: 81%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-82 {
  width: 82%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-83 {
  width: 83%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-84 {
  width: 84%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-85 {
  width: 85%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-86 {
  width: 86%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-87 {
  width: 87%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-88 {
  width: 88%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-89 {
  width: 89%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-90 {
  width: 90%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-91 {
  width: 91%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-92 {
  width: 92%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-93 {
  width: 93%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-94 {
  width: 94%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-95 {
  width: 95%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-96 {
  width: 96%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-97 {
  width: 97%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-98 {
  width: 98%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-99 {
  width: 99%;
}

/* line 84, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-100 {
  width: 100%;
}

/* line 88, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-hide {
  display: none;
}

/* line 91, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-auto {
  width: auto;
}

/* line 94, ../../vendor/werkbot/framewerk/_framewerk.scss */
.desktop-show {
  display: inherit;
}

/* line 98, ../../vendor/werkbot/framewerk/_framewerk.scss */
.flex-container.desktop-ltr {
  flex-direction: row;
}
/* line 101, ../../vendor/werkbot/framewerk/_framewerk.scss */
.flex-container.desktop-rtl {
  flex-direction: row-reverse;
}
/* line 104, ../../vendor/werkbot/framewerk/_framewerk.scss */
.flex-container.desktop-ttb {
  flex-direction: column;
}
/* line 107, ../../vendor/werkbot/framewerk/_framewerk.scss */
.flex-container.desktop-btt {
  flex-direction: column-reverse;
}

/*
  DESKTOP BREAKPOINTS
  Loop through each desktop defined breakpoint
*/
@media screen and (min-width: 1024px) {
  /* line 117, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-half {
    width: 0.5%;
    min-height: 1px;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-1 {
    width: 1%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-2 {
    width: 2%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-3 {
    width: 3%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-4 {
    width: 4%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-5 {
    width: 5%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-6 {
    width: 6%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-7 {
    width: 7%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-8 {
    width: 8%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-9 {
    width: 9%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-10 {
    width: 10%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-11 {
    width: 11%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-12 {
    width: 12%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-13 {
    width: 13%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-14 {
    width: 14%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-15 {
    width: 15%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-16 {
    width: 16%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-17 {
    width: 17%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-18 {
    width: 18%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-19 {
    width: 19%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-20 {
    width: 20%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-21 {
    width: 21%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-22 {
    width: 22%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-23 {
    width: 23%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-24 {
    width: 24%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-25 {
    width: 25%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-26 {
    width: 26%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-27 {
    width: 27%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-28 {
    width: 28%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-29 {
    width: 29%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-30 {
    width: 30%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-31 {
    width: 31%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-32 {
    width: 32%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-33 {
    width: 33%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-34 {
    width: 34%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-35 {
    width: 35%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-36 {
    width: 36%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-37 {
    width: 37%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-38 {
    width: 38%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-39 {
    width: 39%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-40 {
    width: 40%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-41 {
    width: 41%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-42 {
    width: 42%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-43 {
    width: 43%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-44 {
    width: 44%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-45 {
    width: 45%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-46 {
    width: 46%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-47 {
    width: 47%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-48 {
    width: 48%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-49 {
    width: 49%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-50 {
    width: 50%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-51 {
    width: 51%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-52 {
    width: 52%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-53 {
    width: 53%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-54 {
    width: 54%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-55 {
    width: 55%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-56 {
    width: 56%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-57 {
    width: 57%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-58 {
    width: 58%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-59 {
    width: 59%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-60 {
    width: 60%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-61 {
    width: 61%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-62 {
    width: 62%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-63 {
    width: 63%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-64 {
    width: 64%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-65 {
    width: 65%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-66 {
    width: 66%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-67 {
    width: 67%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-68 {
    width: 68%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-69 {
    width: 69%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-70 {
    width: 70%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-71 {
    width: 71%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-72 {
    width: 72%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-73 {
    width: 73%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-74 {
    width: 74%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-75 {
    width: 75%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-76 {
    width: 76%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-77 {
    width: 77%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-78 {
    width: 78%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-79 {
    width: 79%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-80 {
    width: 80%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-81 {
    width: 81%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-82 {
    width: 82%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-83 {
    width: 83%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-84 {
    width: 84%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-85 {
    width: 85%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-86 {
    width: 86%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-87 {
    width: 87%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-88 {
    width: 88%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-89 {
    width: 89%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-90 {
    width: 90%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-91 {
    width: 91%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-92 {
    width: 92%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-93 {
    width: 93%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-94 {
    width: 94%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-95 {
    width: 95%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-96 {
    width: 96%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-97 {
    width: 97%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-98 {
    width: 98%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-99 {
    width: 99%;
  }

  /* line 122, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-100 {
    width: 100%;
  }

  /* line 126, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-auto {
    width: auto;
  }

  /* line 129, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-hide {
    display: none;
  }

  /* line 132, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .desktop-show {
    display: inherit;
  }

  /* Flex Container Direction */
  /* line 137, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .flex-container.desktop-ltr {
    flex-direction: row;
  }
  /* line 140, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .flex-container.desktop-rtl {
    flex-direction: row-reverse;
  }
  /* line 143, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .flex-container.desktop-ttb {
    flex-direction: column;
  }
  /* line 146, ../../vendor/werkbot/framewerk/_framewerk.scss */
  .flex-container.desktop-btt {
    flex-direction: column-reverse;
  }
}
/* COMPONENTS */
/*
  BUTTON
  Generic button class can be used as a class on an element or as a mixin in scss.
*/
/* line 25, ../../sass/components/_button.scss */
a.button {
  background-color: #2b5b76;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 16px 28px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
/* line 21, ../../sass/components/_button.scss */
a.button:hover {
  background-color: #4a94bd;
}
/* line 27, ../../sass/components/_button.scss */
a.button:link, a.button:visited, a.button:hover, a.button:active {
  color: #ffffff;
}

/*
  CONTAINER
  Site wide generic container class. Will center all content within it's max-width
*/
/* line 5, ../../sass/components/container/_container.scss */
.container {
  max-width: 1366px;
  margin: 0 auto;
}

/*
  CONTAINER
  Not responsive, when enabled all containers are set to a fixed width.
*/
/* line 5, ../../sass/components/container/_container-noresponsive.scss */
.container {
  width: 1366px;
}

/*
  Image
  Generic image classes
  These classes are set from silverstripe html editor
*/
/* line 7, ../../sass/components/_image.scss */
img.left {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
/* line 12, ../../sass/components/_image.scss */
img.right {
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}
/* line 17, ../../sass/components/_image.scss */
img.center {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
/* line 23, ../../sass/components/_image.scss */
img.leftAlone {
  display: block;
  text-align: left;
  padding: 20px;
}

/*
  Link
  Default link styles
*/
/* line 5, ../../sass/components/_link.scss */
a {
  color: #2b5b76;
  text-decoration: underline;
}
/* line 8, ../../sass/components/_link.scss */
a:link {
  color: #2b5b76;
}
/* line 11, ../../sass/components/_link.scss */
a:visited {
  color: #5d9fc4;
}
/* line 14, ../../sass/components/_link.scss */
a:hover {
  text-decoration: none;
}
/* line 17, ../../sass/components/_link.scss */
a:active {
  color: #091319;
}

/* MODULES */
/*
  Header Navigation
  Navigation with a dropdown menu (one level)
*/
/* line 5, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* line 9, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul {
  list-style: none;
  display: flex;
}
/* line 12, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul li {
  display: flex;
  position: relative;
  /* DROPDOWN */
}
/* line 15, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul li a {
  display: flex;
  text-decoration: none;
  padding: 26px 25px;
  font-size: 1.2em;
  line-height: 1em;
}
/* line 21, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul li a:hover {
  background: #2b5b76;
  color: #ffffff;
}
/* line 27, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul li:hover a {
  background: #2b5b76;
  color: #ffffff;
}
/* line 33, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul li.selected a {
  background: rgba(43, 91, 118, 0.75);
  color: #ffffff;
}
/* line 39, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul li:hover ul {
  display: block;
}
/* line 44, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul li ul {
  position: absolute;
  top: 70px;
  right: 0;
  background: #2b5b76;
  width: 200px;
  padding: 20px 0;
  display: none;
}
/* line 52, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul li ul li {
  display: block;
}
/* line 54, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul li ul li a {
  display: block;
  color: #ffffff;
  font-size: 0.9em;
  line-height: 1em;
  padding: 10px 25px;
  margin: 0;
}
/* line 61, ../../sass/modules/_header-nav-w-dropdown.scss */
.header-nav ul li ul li a:hover {
  background: #39789b;
}

/*
  Form
  Default form styles, labels stacked on top of fields
*/
/* line 6, ../../sass/modules/_default-form.scss */
.form legend,
.form label {
  color: #454546;
  font-family: "Roboto", sans-serif;
  margin: 8px 0 2px 0;
  display: block;
}
/* line 12, ../../sass/modules/_default-form.scss */
.form legend.left,
.form label.left {
  display: inline-flex;
}
/* line 15, ../../sass/modules/_default-form.scss */
.form legend.right,
.form label.right {
  display: inline-flex;
}
/* line 19, ../../sass/modules/_default-form.scss */
.form input {
  border-radius: 0;
}
/* line 22, ../../sass/modules/_default-form.scss */
.form .message {
  padding: 10px;
  display: block;
}
/* line 25, ../../sass/modules/_default-form.scss */
.form .message.error, .form .message.bad {
  color: #ffffff;
  background: #ff0000;
}
/* line 30, ../../sass/modules/_default-form.scss */
.form .message.good {
  color: #ffffff;
  background: #00CC00;
}
/* line 35, ../../sass/modules/_default-form.scss */
.form .field {
  margin: 10px 0;
}
/* line 37, ../../sass/modules/_default-form.scss */
.form .field input,
.form .field select,
.form .field textarea {
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  color: #454546;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 12px 2%;
  width: 96%;
}
/* line 48, ../../sass/modules/_default-form.scss */
.form .field select {
  width: 100%;
}
/* line 62, ../../sass/modules/_default-form.scss */
.form .field.optionset input, .form .field.checkboxset input, .form .field.checkbox input {
  width: auto;
}
/* line 65, ../../sass/modules/_default-form.scss */
.form .field.optionset label, .form .field.checkboxset label, .form .field.checkbox label {
  display: inline-flex;
}
/* line 70, ../../sass/modules/_default-form.scss */
.form span {
  color: #454546;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  line-height: 1em;
  display: block;
  padding: 5px 0;
}
/* line 77, ../../sass/modules/_default-form.scss */
.form span.right-title {
  font-style: italic;
}
/* line 83, ../../sass/modules/_default-form.scss */
.form .btn-toolbar input,
.form .Actions input {
  background-color: #2b5b76;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 16px 28px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
/* line 21, ../../sass/components/_button.scss */
.form .btn-toolbar input:hover,
.form .Actions input:hover {
  background-color: #4a94bd;
}

/*
  Content Side Navigation
  Side menu on secondary pages
*/
/* line 6, ../../sass/modules/_content-sidenav.scss */
.content-sidenav ul {
  list-style: none;
  margin: 0;
}
/* line 9, ../../sass/modules/_content-sidenav.scss */
.content-sidenav ul li {
  margin: 5px 0;
}
/* line 11, ../../sass/modules/_content-sidenav.scss */
.content-sidenav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1em;
  padding: 10px 10px;
  display: block;
  color: #2b5b76;
}
/* line 18, ../../sass/modules/_content-sidenav.scss */
.content-sidenav ul li a:hover {
  background: rgba(43, 91, 118, 0.75);
  color: #ffffff;
}
/* line 24, ../../sass/modules/_content-sidenav.scss */
.content-sidenav ul li.selected > a {
  background: #2b5b76;
  color: #ffffff;
}
/* line 30, ../../sass/modules/_content-sidenav.scss */
.content-sidenav ul li ul li {
  margin: 0;
}
/* line 32, ../../sass/modules/_content-sidenav.scss */
.content-sidenav ul li ul li a {
  font-size: 1em;
  text-decoration: none;
  padding-left: 35px;
}
/* line 36, ../../sass/modules/_content-sidenav.scss */
.content-sidenav ul li ul li a:hover {
  text-decoration: none;
  background: rgba(43, 91, 118, 0.75);
  color: #ffffff;
}
/* line 43, ../../sass/modules/_content-sidenav.scss */
.content-sidenav ul li ul li.selected a {
  text-decoration: none;
  background: rgba(43, 91, 118, 0.5);
  color: #ffffff;
}

/* FRAME */
/*
  Frame
  The frame of the website, often includes header and footer styles.
*/
/* line 5, ../../sass/global/frame/_frame.scss */
body {
  background: #103246;
}

/* Header */
/* line 12, ../../sass/global/frame/_frame.scss */
.header .header-logo a {
  text-decoration: none;
  font-size: 2em;
  line-height: 1em;
  color: #ffffff;
}

/* Content */
/* line 22, ../../sass/global/frame/_frame.scss */
.content {
  background: #fafafa;
}
/* line 24, ../../sass/global/frame/_frame.scss */
.content > .container {
  background: #fafafa;
}
/* line 27, ../../sass/global/frame/_frame.scss */
.content .sidebar {
  background: #efefef;
}

/* Footer */
/* line 33, ../../sass/global/frame/_frame.scss */
.footer {
  color: #cccccc;
}
/* line 35, ../../sass/global/frame/_frame.scss */
.footer .container {
  padding: 20px 0;
}

/* PAGES */
/*
  Page Content
*/
/* line 4, ../../sass/pages/_page.scss */
.page-content {
  /* Spacing for content elements */
}
/* line 6, ../../sass/pages/_page.scss */
.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
  margin: 0 0 20px 0;
}
/* line 9, ../../sass/pages/_page.scss */
.page-content p {
  margin: 0 0 20px 0;
}
/* line 12, ../../sass/pages/_page.scss */
.page-content ul, .page-content ol {
  margin: 0 0 20px 20px;
}
