/*
  BUTTON
  Generic button class can be used as a class on an element or as a mixin in scss.
*/
@mixin button-input-style() {
	background-color: $content-link-color;
	border-radius: 3px;
	color: #ffffff;
  display: inline-block;
	position: relative;
	text-decoration: none;
	padding: 16px 28px;
  margin: 5px 0;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  &:hover{
  	background-color: lighten($content-link-color, 20);
  }
}
a.button{
  @include button-input-style;
  &:link,
  &:visited,
  &:hover,
  &:active{
	   color: #ffffff;
  }
}
