/*
  Link
  Default link styles
*/
a{
  color: $content-link-color;
  text-decoration: underline;
  &:link{
    color: $content-link-color;
  }
  &:visited{
    color: lighten($content-link-color, 25);
  }
  &:hover{
    text-decoration: none;
  }
  &:active{
    color: darken($content-link-color, 25);
  }
}
