/*
  Form
  Default form styles, labels stacked on top of fields
*/
.form{
  legend,
  label{
    color: $content-text-color;
    font-family: $font-family;
    margin: 8px 0 2px 0;
    display: block;
    &.left{
      display: inline-flex;
    }
    &.right{
      display: inline-flex;
    }
  }
  input{
    border-radius: 0;
  }
  .message{
    padding: 10px;
    display: block;
    &.error,
    &.bad{
      color: #ffffff;
      background: #ff0000;
    }
    &.good{
      color: #ffffff;
      background: #00CC00;
    }
  }
  .field{
    margin: 10px 0;
    input,
    select,
    textarea{
      border: 1px solid #EAEAEA;
      border-radius: 2px;
      color: $content-text-color;
      font-family: $font-family;
      margin: 0;
      padding: 12px 2%;
      width: 96%;
    }
    select{
      width: 100%;
    }
    &.text{
    }
    &.email{
    }
    &.textarea{
    }
    &.dropdown{
    }
    &.optionset,
    &.checkboxset,
    &.checkbox{
      input{
        width: auto;
      }
      label{
        display: inline-flex;
      }
    }
  }
  span{
    color: $content-text-color;
    font-family: $font-family;
    font-size: 0.9em;
    line-height: 1em;
    display: block;
    padding: 5px 0;
    &.right-title{
      font-style: italic;
    }
  }
  .btn-toolbar,
  .Actions{
    input{
      @include button-input-style;
    }
  }
}
